<template>
	<span v-if='hasSub()' :class='containerClass()' :style='containerCss()'>
		<i :class="iconClass" :style="iconStyle" ></i>
		<icon :name='sub.name' :style='subIconCss()' />
	</span>
	<i v-else :class="iconClass" :style="iconStyle" ></i>
</template>


<script>
var fontawesome_js_mode = false

/**
 * @param classes the array to merge new class(es) in
 * @param prop must be a String or an array
 */
function addClassesFromProps(classes, prop) {
	if (prop instanceof Array) {
		prop.forEach(clazz => classes.push(clazz))
	} else if (typeof prop == 'string') {
		prop.split(' ').forEach(clazz => classes.push(clazz))
	} else {
		classes.push(this.prop)
	}
}

export default {
	name: 'icon',
	props: {
		name: String,
		provider: { type: String, default: 'fa' },
		wide: Boolean,
		color: { type: String, default: null },
		clazz: { type: [String, Array], default: null },
		borderColor: { type: String, default: null },
		borderSize: { type: String, default: '1px' },
		size: { type: Number, default: 1 },
		sub: { type: Object, default: null }
	},
	data: function () {
		return {
		}
	},
	created: function() {
		if (!this.provider) this.provider = 'fa'
	},
	methods: {
		hasSub: function() {
			return this.sub != null
		},
		isSub: function() {
			return this.$parent.constructor.options.name === 'icon'
		},
		containerCss: function() {
			return this.isSub() ? this.subContainerCss() : this.rootContainerCss()
		},
		rootContainerCss: function() {
			var style = []
			const size = this.size != null ? this.size : 1
			if (!fontawesome_js_mode) {
				style.push('height: '+size+'em')
				style.push('line-height: '+size+'em')
				style.push('width: '+size+'em')
			}
			return style.join(';')
		},
		subContainerCss: function() {
			return ''
		},
		containerClass: function() {
			return this.isSub() ? this.subContainerClass() : this.rootContainerClass()
		},
		rootContainerClass: function() {
			var classes = []
			if (this.clazz) addClassesFromProps(classes,this.clazz)
			classes.push(fontawesome_js_mode ? 'fa-layers' : 'fa-stack')
			return classes.join(' ')
		},
		subContainerClass: function() {
			return fontawesome_js_mode ? '' : 'fa-stack-1'
		},
		subIconCss: function() {
			var style = this.commonStyleArray(this.sub)
			var size = this.sub.size
			if (this.sub.position === 't') {
				if (size == null) size = 0.5
				style.push('top: '+(-1+size)+'em')
			} else if (this.sub.position === 't/l' || this.sub.position === 'l/t') {
				if (size == null) size = 0.5
				style.push('top: '+(-1+size)+'em')
				style.push('left: '+(-1+size)+'em')
			} else if (this.sub.position === 'l') {
				if (size == null) size = 0.5
				style.push('left: '+(-1+size)+'em')
			} else if (this.sub.position === 'b/l' || this.sub.position === 'l/b') {
				if (size == null) size = 0.5
				style.push('top: '+(1-size)+'em')
				style.push('left: '+(-1+size)+'em')
			} else if (this.sub.position === 'b') {
				if (size == null) size = 0.5
				style.push('top: '+(1-size)+'em')
			} else if (this.sub.position === 'b/r' || this.sub.position === 'r/b') {
				if (size == null) size = 0.5
				style.push('left: '+(1-size)+'em')
				style.push('top: '+(1-size)+'em')
			} else if (this.sub.position === 'r') {
				if (size == null) size = 0.5
				style.push('left: '+(1-size)+'em')
			} else if (this.sub.position === 't/r' || this.sub.position === 'r/t') {
				if (size == null) size = 0.5
				style.push('top: '+(-1+size)+'em')
				style.push('left: '+(1-size)+'em')
			}
			if (size != null) style.push('zoom: '+size)

			return style.join(';')
		},
		commonStyleArray(directiveHolder) {
			var value = []
			if (directiveHolder.color) value.push('color:'+directiveHolder.color)
			if (directiveHolder.borderColor) {
				value.push("text-shadow:-1px 0 "+directiveHolder.borderColor+", 0 1px "+directiveHolder.borderColor+", 1px 0 "+directiveHolder.borderColor+", 0 -1px "+directiveHolder.borderColor)
			}
			return value
		}
	},
	computed: {
		iconClass: function() {
			var classes = []
			if (this.provider === 'fa') {
				classes.push('fas')
				if (this.wide) classes.push('fa-fw')
				if (this.hasSub()) classes.push('fa-stack-1x')
				else if (this.isSub()) classes.push('fa-stack-1x')
				classes.push('fa-'+this.name)
			}
			if (this.clazz && ! this.hasSub()) addClassesFromProps(classes,this.clazz)
			return classes.join(' ')
		},
		iconStyle: function() {
			return this.commonStyleArray(this).join(';')
		}
	},
	mounted: function() {
		if (this.borderColor) {
			if (this.provider === 'fa' && fontawesome_js_mode) {
				element.querySelectorAll("span>svg path,svg path").forEach(e => {
					e.style.fill = this.color
					e.style.stroke = this.borderColor
					e.style.strokeWidth = 50
				})
			}
		}
	}
}
</script>